/* 14 Seleccionar todos los elementos excepto uno o unos*/

/* opciones reemplazables entre ellas, hacen lo mismo */

.heading{
    color: red;
}

.descripcion{
    color: red;
}

.oerta{
    color: red;
}

.heading,
.descripcion,
.oerta{
    color: red;
}

p:not(.texto){
    color: red;
}
